<div class="w-[50%] bg-slate-50 mx-auto py-3 mt-3">
    <div class="" *ngFor="let datos of data">
        
      
        <div class="bg-slate-50" *ngIf="datos.name === nombre">
            <div class="grid grid-cols-2 text-center mb-2">
                <div class="bg-black mx-2">
                    <img src="{{datos.image}}" alt="" width="350" height="350">
                </div>
               
                <div class="mt-[100px]">
                    <p class="text-red-300 font-bold text-2xl">{{datos.position}}</p>
                    <p class="font-semibold"> {{datos.name}}</p>
                </div>
               
                
            </div>
        </div>
    </div>

   <button class="text-white bg-yellow-500 px-4 py-3
   rounded shadow-lg shadow-gray-400 hover:bg-yellow-700"><a routerLink="/">Regresar</a></button>
</div>